.lineup-thumbnail {
    max-width: 300px;
    width: 25%;
    min-width: 125px;
}

.lineup-reference {
    width: 100%;
}

body {
    background-color: rgb(48, 48, 48);
    color: rgb(240, 240, 240);
}

.page-content {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.darkened {
    background-color: rgba(0, 0, 0, 0.205);
}